@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: var(--font-orbitron), Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar {
  width: 8px;              
}

::-webkit-scrollbar-track {
  background: #0f172a;      
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3b82f6, #9333ea); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #2563eb, #7e22ce); 
}


* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #0f172a; /* thumb color | track color */
}
