@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  
}

body::-webkit-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6;
}

body::-webkit-scrollbar-track {
  background: #0f172a;
}

body::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

.chat::-webkit-scrollbar {
  width: 4px;
  scrollbar-color: #d4d1d1;
}

.chat::-webkit-scrollbar-track {
  background: #18181b;
}

.chat::-webkit-scrollbar-thumb {
  background: #d4d1d1;
  border-radius: 4px;
}

.prompt::-webkit-scrollbar {
  width: 4px;
  scrollbar-color: #d4d1d1;
}

.prompt::-webkit-scrollbar-track {
  background: #18181b;
}

.prompt::-webkit-scrollbar-thumb {
  background: #d4d1d1;
  border-radius: 4px;
}

.prompt {
  field-sizing: content;
}
